template(name="websiteCourseDetails1")
	style.
		p.templateLineBreak {
			padding-bottom: 10px;
			margin: 5px;
			border-bottom: 1px solid #eee;
		}

		.table tbody > tr > td, 
		.table tbody > tr > th {
			border-top:0px;
		}
		body {
			font-size: 16px;
		}
		html {
			background-color:#333333;
		}
	#sectionPageWrapper(style="margin-top:40px")
		.row
			.col-lg-10.col-lg-offset-1
				h1.page-header Course Information
		+websiteCourseDetailsForm1
		.row
			.col-lg-10.col-lg-offset-1
				label.control-label Available Session
				table(cellpadding="5")
					each getClassesAvailable
						tr
							th(valign="top" style="margin-bottom: 5px;")
								| #{grpNum} - 
							td
								| (Every #{retrieveDays}, #{startTime} to #{endTime}), From {{formatDateee startDate}} to {{formatDateee endDate}}
					else
						tr
							td
							td
								| No Sessions Opened

		.row
			.col-lg-10.col-lg-offset-1
				h3 Description:
				p #{courseDescription}
				.br
				
		.row
			.col-lg-10.col-lg-offset-1
				p.templateLineBreak
				if equals 0 getClassesAvailable
					a.btn.pull-right.admin-btn(href="/website/courseSignup?cCode=#{courseCode}", type="button", style="margin-left:10px; margin-bottom: 30px; margin-right: 5px;", disabled="disabled") Sign Up Now
				else
					a.btn.pull-right.admin-btn(href="/website/courseSignup?cCode=#{courseCode}", type="button", style="margin-left:10px; margin-bottom: 30px; margin-right: 5px;") Sign Up Now
				a.btn.pull-right.admin-btn(onclick="window.history.back()") Back

template(name="websiteCourseDetailsForm1")
	.row
		.col-lg-10.col-lg-offset-1
			.form-group
				.col-lg-5
					.pull-left
					div(style="height:320px; width:450px; border-radius: 25px;" id="{{whatColor courseType}}")
						table(style="height:320px; width:450px; color:black; font-size: 150%;")
							tr
								td(rowspan="2" style="width=30%; font-size: xx-large;")
									| #{courseCode}
								td
									| #{courseName}
							tr
								td
									| #{courseType} Courses

				.col-lg-6.col-lg-offset-1
					input#disabledInput.form-control(type="hidden", name="cId" value="is101", disabled="")
					input#disabledInput.form-control(type="hidden", name="cName" value="WPA Course 1", disabled="")
					.pull-left
						.br(style="margin-bottom: 20px")
						label Total No. of Hours before Completion
						.br #{courseNoOfHours}
						.br
						label Pre-requisite
						.br 
						if equals prerequisite.[0] ""
							td Nil
						else
							tr
								each retrievePrereq
									| #{key}
									.br
						.br
						label Genre 
						.br #{genre}
						label Student to Teacher Ratio 
						.br #{courseFLR}
						label Fees 
						.br $#{courseFees}



