template(name="administratorList")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Administrator List
      // /.col-lg-12
    // /.row
    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 Administrator List Management
              button.btn.btn.btn-sm(data-toggle="modal", data-target="#addAdminAcct" style="position: absolute; margin-top: -1%; right: 6%; background: #333; color:#fff")
                i.fa.fa-plus
                | Administrator
            +addAdminAcctForm

            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                thead
                  tr
                    th Name
                    th Particulars
                    th Is Trainer
                    th Delete User
                tbody
                  each administrators
                    tr
                      td #{fullName} 
                      td
                        a.btn.admin-btn.bt-sn(data-target="#viewAdminDetails#{_id}", data-toggle="modal", data-id="#{_id}") Particulars
                        +viewAdminParticulars
                      td 
                        {{checkIsTrainer1}}
                      td
                        a.btn.admin-btn.bt-sn(data-target="#goDeleteAdmin#{_id}", data-toggle="modal", data-id="#{_id}") Delete
                        +deleteAdminForm 

template(name="addAdminAcctForm")
  div.modal(id="addAdminAcct" tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Add New Administrator
        .modal-body
          form(role="form", id="insert-addAdminForm", action="#", method="post")
          .table-responsive
            table.table(style="background:#333")
              tbody
                tr
                  th Enter Full Name
                  td(colspan="3")
                    .form-group
                      input.form-control(type="text", id="addName")
                tr
                  td Email
                  td
                    input.form-control(type='text', id='addEmail')
                  td MobileNo
                  td 
                    input.form-control(type='text', id='addMobileNo')
                tr
                  td 
                    | Assign
                    | Trainer Rights
                  td(colspan="3")
                    input(type="radio", name="addIsTrainer", id="addIsTrainer", value="false", checked="")
                    | No
                    br
                    input(type="radio", name="addIsTrainer", id="addIsTrainer", value="true")
                    | Yes, Create Trainer Account

            // /.table-responsive
        .modal-footer
          button#addAdminAcctButton.btn.btn-save(type="button", data-dismiss="modal") Add User
      // /.modal-content
    // /.modal-dialog
  // /.modal




template(name="viewAdminParticulars")
  div.modal(id="viewAdminDetails#{_id}" tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Update Administrator Details
        .modal-body
          form(name="", role="form", action="#", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody  
                tr 
                  td Name
                  td #{fullName}
                tr
                  td Mobile No
                  td 
                    input.form-control(type="text", id="#{_id}_editMobileNo", value="#{mobileNo}")
                tr
                  td Trainer Access Rights
                  td 
                    select.form-control(id="#{_id}_editIsTrainer", name="editIsTrainer", style="color:black")
                        if checkIsTrainer2
                          option(value="true") Yes
                          option(value="false") No
                        else
                          option(value="false") No
                          option(value="true") Yes
        .modal-footer
          button#editAdminAccountButton.btn.btn-save(type="button", data-dismiss="modal") Update


template(name="deleteAdminForm")
  div.modal(id="goDeleteAdmin#{_id}" tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Delete Administrator
        .modal-body
          form(name="", role="form", action="#", method="post" id="#{_id}")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody  
                tr
                  td(colspan="2") Are you sure you want to delete: 
                  b #{fullName}
                tr
                  td Mobile No:
                  td #{mobileNo}
          // /.table-responsive
        .modal-footer
          button#deleteAdminButton.btn.btn-save(type="button", data-dismiss="modal") Confirm
      // /.modal-content
    // /.modal-dialog
  // /.modal
