template(name="administratorList")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Administrator List
      // /.col-lg-12
    // /.row
    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 Administrator List Management
              button.btn.btn.btn-sm(data-toggle="modal", data-target="#addAdminAcct" style="position: absolute; margin-top: -1%; right: 6%; background: #333; color:#fff")
                i.fa.fa-plus
                | Administrator
            +addAdminAcctForm

            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                thead
                  tr
                    th Name
                    th Particulars
                    th AccessRights
                tbody
                  each admins
                    tr
                      td #{firstName}  #{lastName} 
                      td  
                        button.btn.admin-btn.btn-sn(data-toggle="modal", data-id='#{_id}',data-target="#viewAdmin")
                          | Particulars
                        +viewAdminParticulars
                      td
                        form(role="form", id="insert-viewCredForm", action="#", method="post")
                          button#viewStudAccessRightsButton.btn.admin-btn.btn-sn(data-toggle="modal", data-id= '#{_id}', data-target="#viewAccessRights")
                            | Edit Access Rights
                        +viewAccessRights
                      td
                        button.btn.admin-btn.btn-sn(data-toggle="modal", data-id='#{_id}',data-target="#deleteAdmin")
                          | Delete
                        +deleteAdminForm 


template(name="viewAccessRightsForm")
  div.modal(id="viewAdmin#{_id}" tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Administrator Detail
        .modal-body
          form(role="form", id="viewDetails", action="#", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody
                tr
                  th Name
                  td
                    #{firstName} #{lastName}
                tr
                  th email
                  td 
                    #{email}
                tr
                  td Access Rights
                  td Pending
        .modal-footer
          button#editAdminAcct.btn.admin-btn.btn-sn(data-toggle="modal", data-id='#{_id}',data-target="#EditAdminAcct")
             | Save Changes
      // /.modal-content
    // /.modal-dialog
  // /.modal    

template(name="addAdminAcctForm")
  #addAdminAcct.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Add New Administrator
        .modal-body
          form(role="form", id="insert-addAdminForm", action="#", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody
                tr
                  th First Name
                  td
                    .form-group
                      input.form-control(type="text", id="firstName")
                  th Last Name  
                  td 
                    .form-group
                      input.form-control(type="text", id="lastName") 
                tr
                  td Email
                  td
                    input.form-control(type='text', id='email')
                  td MobileNo
                  td 
                    input.form-control(type='text', id='mobileNo')
                tr
                  td Access Rights
                  td 
                    .form-group
                      label.checkbox-inline
                        input(type="checkbox", value="1", id="accessRightId")
                        | 1
            // /.table-responsive
        .modal-footer
          button#addAdminAcctButton.btn.btn-save(type="button", data-dismiss="modal") Add User
      // /.modal-content
    // /.modal-dialog
  // /.modal




template(name="deleteAdminForm")
  div.modal(id="deleteAdmin#{_id}" tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Delete Administrator
        .modal-body
          form(name="", role="form", action="#", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody  
                tr
                  td Are you sure you want to delete
                tr
                  td #{firstName} #{lastName}
                tr
                  td Mobile No:
                  td #{mobileNo}
          // /.table-responsive
        .modal-footer
          button#deleteAdminButton.btn.btn-save(type="button", data-dismiss="modal") Confirm
      // /.modal-content
    // /.modal-dialog
  // /.modal
