template(name="group")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header #{courseCode} #{grpNum}
      // /.col-lg-12
    // /.row
    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 Class Details
              button.btn.btn.btn-sn.pull-right(data-toggle="modal", data-target="#editClass" style="margin-top: -1%; background: #333; color:#fff")
                    i.fa.fa-pencil-square-o  
                    | Edit
                +editClassDetails

            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                tbody
                  tr
                    th Course
                    td #{courseCode}
                  tr
                    th Venue
                    td #{venue}
                  tr
                    th No. of Hour(s)
                    td #{courseNoOfHours}
                  tr
                    th Timing
                    td #{startTime} - #{endTime}
                  tr
                    th Days
                    td 
                      each noOfDays
                        | #{.}, 
                  tr
                    th Start Date
                    td {{formatDateee startDate}}
                  tr
                    th End Date
                    td {{formatDateee endDate}}
                  tr
                    th Trainer(s)
                    td  #{classTrainers}
                      //each classTrainers
                        //| #{trainerId}, 
            // /.table-responsive
            

            p.breakH4
            h4 Announcement Panel
              button.btn.btn.btn-sn.pull-right(data-toggle="modal", data-target="#postNotification" style="margin-top: -1%;  background: #333; color:#fff")
                i.fa.fa-plus  
                | Announcement 
              +announcementForm
            
            +displayAnnouncements

            p.breakH4
            h4 Class Management
              button.btn.btn.btn-sn.pull-right(data-toggle="modal", data-target="#addStudent" style="margin-top: -1%;  background: #333; color:#fff")
                i.fa.fa-plus  
                | Student 
              +addStudent
            .table-responsive
              table#dataTables-example.table.table-bordered.table-hover
                tbody
                  each studentInClass
                    tr
                      td #{fullName}
                      td 
                        if equals paid "true"
                          input(type="button", value="Paid", id="paidStudentFromClass", disabled="disabled")  
                        else
                          input(type="button", value="Paid", id="paidStudentFromClass") 

                      td 
                        input(type="button", value="Assessment", id="assessStudentFromClass", data-toggle="modal", data-target="#gradesStudent")
                        +gradesStudent
                        
                      td 
                        input(type="button", value="Remove Student", id="removeStudentFromClass")
                 

            p.breakH4
            h4 Feedback Management
              button.btn.btn.btn-sn.pull-right(data-toggle="modal", data-target="#addFeedback" style="margin-top: -1%;  background: #333; color:#fff")
                i.fa.fa-plus  
                | Feedback 
              +addFeedback
            .table-responsive
              table#dataTables-example.table.table-bordered.table-hover
                tbody
                  tr
                    th Title
                    th Type
                    th Assessed on
                    th View survey
                    th Results
                  each feedbackClass
                    tr
                      td #{this.fbTitle}
                      td #{fbType}
                      td #{assessedOn}
                      td 
                        a(href="doFeedbackSurvey?fbidAns=#{_id}", class="button btn admin-btn") 
                            | View Feedback Form
                      td 
                        a(href="displayFeedbackResults?fbidAns=#{_id}", class="button btn admin-btn") 
                            | View Feedback Results
                 
            // /.table-responsive
            // /.row
          // /.panel-body
        // /.panel
      // /.col-lg-12
    // /.row
  // /#page-wrapper


template(name="announcementForm")
  #postNotification.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title New Announcement
        .modal-body
          form(name="postNotification", role="form", action="insertNotification", method="post")
          .table-responsive
            table#dataTables-example.table
              tbody
                tr
                  td Title
                  td 
                    input.form-control(id='aTitle',type='text',placeholder='Title')
                tr
                  td Details
                  td 
                    textarea.form-control(id='annouDetails',type='text',placeholder='Details Here', style="max-width: 500px;")
          // /.table-responsive
        .modal-footer
          //input.btn.admin-btn#submitButton(type='submit',value='Post Annoucenment',data-transition='fade', data-theme='c', data-dismiss="modal")
          button#addAnnouncementButton.btn.btn-save(type="button", data-dismiss="modal") Post Announcement
      // /.modal-content
    // /.modal-dialog
  // /.modal

template(name="displayAnnouncements")
  .table-responsive
    table#dataTables-example.table.table-striped.table-bordered
      thead
         tr
          th Title
          th Details
          th Date
          th Author
          th Delete
      tbody
        each groupAnnouncements
          tr
            td #{annouTitle}
            td #{annouDetails}
            td {{formatDate annouDate}}
            td {{authorName annouAuthor}}
            if isAuthor
              td 
                button#deleteAAnnounButton.btn.admin-btn.bt-sn(type="button") Delete
            else
              td

  // /.table-responsive

template(name="editClassDetails")
 #editClass.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Edit Class Details
        .modal-body
          form(name="editCourseDetails", role="form", action="insertNotification", method="post")
          .table-responsive
            table#dataTables-example.table
              tbody
                tr
                  td Course
                  td(colspan="3") #{courseCode}   
                tr
                  td Venue
                  td(colspan="3") 
                    input.form-control(id='annouTitle',type='text',value='#{venue}',placeholder='Venue', style="max-width: 500px;")
                tr
                  td No. of Hours
                  td(colspan="3") 
                    
                tr
                  td Timing
                  td(colspan="3") 
                    input(type="time", id="classListNewStartTime", style="width:40%; color:black", value="#{startTime}") 
                    | TO 
                    input(type="time", id="classListNewEndTime", style="width:40%; color:black", value="#{endTime}")
                tr  
                  th Days
                  td 
                    .form-group
                      label.checkbox-inline
                        input(type="checkbox", value="Monday", name="classListDay")
                        | Monday
                  td
                    .form-group
                      label.checkbox-inline
                        input(type="checkbox", value="Tuesday", name="classListDay")
                        | Tuesday
                  td
                    .form-group
                      label.checkbox-inline
                        input(type="checkbox", value="Wednesday", name="classListDay")
                        | Wednesday
                tr
                  th  
                  td
                    .form-group
                      label.checkbox-inline
                        input(type="checkbox", value="Thursday", name="classListDay")
                        | Thursday
                  td
                    .form-group
                      label.checkbox-inline
                        input(type="checkbox", value="Friday", name="classListDay")
                       | Friday
                  td
                    .form-group
                      label.checkbox-inline
                        input(type="checkbox", value="Saturday", name="classListDay")
                        | Saturday

                
                tr
                  th Duration (Date)
                  td(colspan="3")
                    input(type="date", id="classListNewStartDate", placeholder="dd/mm/yyyy", style="color:black; width: 40%", value="#{startDate}")
                    | TO
                    input(type="date", id="classListNewEndDate", placeholder="dd/mm/yyyy", style="color:black; width: 40%")
                tr
                  td Trainer(s)
                  td(colspan="3") 
                    input.form-control(id='annouTitle',type='text',value='',placeholder='Venue', style="max-width: 500px;")
           // /.table-responsive
        .modal-footer
          button#editGroupDetailsButton.btn.btn-save(type="button", data-dismiss="modal") Edit

template(name="addStudent")
  #addStudent.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Add New Student
        .modal-body
            tr
              td(colspan="2")
                .form-group()
                  select(name="newStudentsC", style="color: black; width: 100%")
                    each students
                      option(value="#{_id}") #{fullName}    
              td 
                button#addMoreStudents.btn.btn-sn(style="margin-top: -1%; right: 6%; background-color: white; color:#333")
                    i.fa.fa-plus  

            each noOfTimesStudent
              tr 
                td(colspan="2")
                  .form-group()
                    select(name="newStudentsC", style="color: black; width: 100%")
                      each students
                        option(value="#{_id}") #{fullName} 
                td  
                  button#addMoreStudents.btn.btn-sn.pull-right(style="margin-top: -1%; right: 6%; background-color: white; color:#333")
                    i.fa.fa-plus 
                
                  button#removeThisStudent.btn.btn-sn.pull-right( style="margin-top: -1%; right: 6%; background-color: white; color:#333")
                    i.fa.fa-minus    
              
          // /.table-responsive
        .modal-footer
          button#addStudentButton.btn.btn-save(type="button", data-dismiss="modal") Add 
      // /.modal-content
    // /.modal-dialog
  // /.modal

template(name="addFeedback")
  #addFeedback.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Add New Feedback
        .modal-body
            tr
              th Type  
              td(colspan="2")
                .form-group()
                    select(id="feedbackSearchType", style="color: black")
                      option(value="Course") Course
                      option(value="Facility") Facility
                      option(value="Trainer") Trainer  
            tr 
              th Feedback Name
              td(colspan="2")
                .form-group()
                  select(id="feedbackTemplateType", style="color: black; width: 100%")
                    each feedbackTemplateType
                      option(value="#{_id}") #{feedbackTitle}    
              
          // /.table-responsive
        .modal-footer
          button#addFeedbackClassButton.btn.btn-save(type="button", data-dismiss="modal") Add 
      // /.modal-content
    // /.modal-dialog
  // /.modal

template(name="gradesStudent")
  #gradesStudent.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Student Grades
        .modal-body
            tr
              th Component  
              th(colspan="2") Score
            each studentsGrades
              tr 
                td Feedback Name
                td(colspan="2")   
              
          // /.table-responsive
        .modal-footer
          button#failStudentButton.btn.btn-save(type="button", data-dismiss="modal") Uncompleted 
          button#passStudentButton.btn.btn-save(type="button", data-dismiss="modal") Completed 
      // /.modal-content
    // /.modal-dialog
  // /.modal