template(name="group")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header #{courseCode} #{grpNum}
      // /.col-lg-12
    // /.row
    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 Class Details
              button.btn.btn.btn-sn.pull-right(data-toggle="modal", data-target="#editClass" style="margin-top: -1%; background: #333; color:#fff")
                    i.fa.fa-pencil-square-o  
                    | Edit
              +editClassDetails

            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                tbody
                  tr
                    th Course
                    td #{courseCode}
                  tr
                    th Venue
                    td #{venue}
                  tr
                    th No. of Sessions(s)
                    td #{noOfSessions}
                  tr
                    th Timing
                    td #{startTime} - #{endTime}
                  tr
                    th Days
                    td 
                      each noOfDays
                        | #{.}
                  tr
                    th Start Date
                    td #{startDate}
                  tr
                    th End Date
                    td #{endDate}
                  tr
                    th Trainer(s)
                    td #{trainers}
            // /.table-responsive
            

            p.breakH4
            h4 Announcement Panel
              button.btn.btn.btn-sn.pull-right(data-toggle="modal", data-target="#postNotification" style="margin-top: -1%;  background: #333; color:#fff")
                i.fa.fa-plus  
                | Announcement 
              +announcementForm
            
            +displayAnnouncements

            p.breakH4
            h4 Class Management
              button.btn.btn.btn-sn.pull-right(data-toggle="modal", data-target="#addStudent" style="margin-top: -1%;  background: #333; color:#fff")
                i.fa.fa-plus  
                | Student 
              +addStudent
            .table-responsive
              table#dataTables-example.table.table-bordered.table-hover
                tbody
                  tr 
                    th Student 1
                    td  
                      input(type="button", value="Assessment")
                    td 
                      input(type="button", value="Remove Student")
                   tr 
                    th Student 2
                    td  
                      input(type="button", value="Assessment")
                    td 
                      input(type="button", value="Drop Student")
            // /.table-responsive
            // /.row
          // /.panel-body
        // /.panel
      // /.col-lg-12
    // /.row
  // /#page-wrapper


template(name="announcementForm")
  #postNotification.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title New Announcement
        .modal-body
          form(name="postNotification", role="form", action="insertNotification", method="post")
          .table-responsive
            table#dataTables-example.table
              tbody
                tr
                  td Title
                  td 
                    input.form-control(id='annouTitle',type='text',value='',placeholder='Title', style="max-width: 500px;")
                tr
                  td Details
                  td 
                    textarea.form-control(id='annouDetails',type='text',value='',placeholder='Details Here', style="max-width: 500px;")
          // /.table-responsive
        .modal-footer
          //input.btn.admin-btn#submitButton(type='submit',value='Post Annoucenment',data-transition='fade', data-theme='c', data-dismiss="modal")
          button#addAnnouncementButton.btn.btn-save(type="button", data-dismiss="modal") Post Announcement
      // /.modal-content
    // /.modal-dialog
  // /.modal

template(name="displayAnnouncements")
  .table-responsive
    table#dataTables-example.table.table-striped.table-bordered
      thead
         tr
          th Title
          th Details
          th Date
          th Author
      tbody 
        each groupAnnouncements
          tr
            td #{title}
            td #{content}
            td {{formatDate dateTime}}
            td #{author} 
  // /.table-responsive

template(name="editClassDetails")
 #editClass.modal.fade(tabindex="-1", role="dialog", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Edit Class Details
        .modal-body
          form(name="editCourseDetails", role="form", action="insertNotification", method="post")
          .table-responsive
            table#dataTables-example.table
              tbody
                tr
                  td Venue
                  td 
                    input.form-control(id='annouTitle',type='text',value='',placeholder='Venue', style="max-width: 500px;")
           // /.table-responsive
        .modal-footer
          input.btn.admin-btn#submitButton(type='submit',value='Edit',data-transition='fade', data-theme='c', data-dismiss="modal")

template(name="addStudent")
  #addStudent.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Add New Student
        .modal-body
            tr
              td(colspan="2")
                .form-group()
                  select(name="newStudentsC", style="color: black; width: 100%")
                    each students
                      option(value="#{_id}") #{fullName}    
              td 
                button#addMoreStudents.btn.btn-sn(style="margin-top: -1%; right: 6%; background-color: white; color:#333")
                    i.fa.fa-plus  

            each noOfTimesStudent
              tr 
                td(colspan="2")
                  .form-group()
                    select(name="newTrainersC", style="color: black; width: 100%")
                      each students
                        option(value="#{_id}") #{fullName} 
                td  
                  button#addMoreStudents.btn.btn-sn.pull-right(style="margin-top: -1%; right: 6%; background-color: white; color:#333")
                    i.fa.fa-plus 
                
                  button#removeThisStudent.btn.btn-sn.pull-right( style="margin-top: -1%; right: 6%; background-color: white; color:#333")
                    i.fa.fa-minus    
              
          // /.table-responsive
        .modal-footer
          button#addStudentButton.btn.btn-save(type="button", data-dismiss="modal") Add 
      // /.modal-content
    // /.modal-dialog
  // /.modal