template(name="classList")
  style.
    .panel-body{
      padding: 3%;
    }
    .col-lg-12{
      padding-left: 2%;
      padding-right: 2%;
    }
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header class list
      // /.col-lg-12
    // /.row

    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 Search classes
          
            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                tbody
                  tr
                    th Search  
                    td 
                      input.form-control(type="text", id="courseCode", placeholder="eg. IS101 or Workplace Safety and Health")
                      
                    th Group
                    td
                      input.form-control(type="text", id="grpNo", placeholder="eg. G1")
            
            button#filter.btn.btn-save( style="position: absolute; margin-top: -1%; right: 6%; background: #333; color:#fff") filter          

    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 Class Details
              button.btn.btn.btn-sm(data-toggle="modal", data-target="#addClassForm" style="position: absolute; margin-top: -1%; right: 6%; background: #333; color:#fff")
                        i.fa.fa-plus
                        | Class
              +addClassForm
          
            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                thead
                  tr
                    th Code
                    th Class
                    th Start Date
                    th End Date
                    th Details
                    th Remarks
                tbody
                  each classes
                    tr
                      td #{courseCode}  
                      td #{grpNum}  
                      td #{startDate}  
                      td #{endDate}  
                      td
                        a(href="class?cCode=#{courseCode}&cgrpNum=#{grpNum}", class="button btn admin-btn") 
                            | Enter Class Page
                          //+viewClassForm
                      td
                        button.btn.admin-btn.btn-sn(data-toggle="modal", data-id='#{_id}',data-target="#deleteClass#{_id}")
                          | Delete
                        +deleteClass 
   

template(name="addClassForm")
  #addClassForm.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Add New Class
        .modal-body
          form(name="addClassForm", role="form", id="insert-addClassForm", action="facilityResult", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody
                tr
                  th Course Code
                  td(colspan="3") #{courseCode}
                    .form-group
                      input.form-control(type="hidden", id="gCourseCode", value="#{courseCode}")
                tr
                  th Session Timing  
                  td(colspan="3") 
                    input(type="time", id="gNewStartTime", style="width:40%; color:black") 
                    | TO 
                    input(type="time", id="gNewEndTime", style="width:40%; color:black")
                tr  
                  th Days
                  td 
                    .form-group
                      label.checkbox-inline
                        input(type="checkbox", value="Monday", name="day")
                        | Monday
                  td
                    .form-group
                      label.checkbox-inline
                        input(type="checkbox", value="Tuesday", name="day")
                        | Tuesday
                  td
                    .form-group
                      label.checkbox-inline
                        input(type="checkbox", value="Wednesday", name="day")
                        | Wednesday
                tr
                  th  
                  td
                    .form-group
                      label.checkbox-inline
                        input(type="checkbox", value="Thursday", name="day")
                        | Thursday
                  td
                    .form-group
                      label.checkbox-inline
                        input(type="checkbox", value="Friday", name="day")
                       | Friday
                  td
                    .form-group
                      label.checkbox-inline
                        input(type="checkbox", value="Saturday", name="day")
                        | Saturday
               
                tr
                  th Duration (Date)
                  td(colspan="3")
                    input(type="date", id="gNewStartDate", style="color:black; width: 40%")
                    | TO
                    input(type="date", id="gNewEndDate", style="color:black; width: 40%")
                tr 
                  th Payment Deadline
                  td(colspan="3")
                    .form-group
                      input.form-control(type="date", id="gNewDeadline")
                tr
                  th Venue
                  td 
                    .form-group
                      select(name="type", id="gVenue", style="color: black")
                        each facilitiesList
                          option(value="#{fac}") #{fac}
                tr  
                  th Trainers
                  td
                    .form-group.input-group
                      select(name="type", id="gTrainers", style="color: black")
                        each courseTrainers
                          option(value="#{_id}") {{.}}
                    
          // /.table-responsive
        .modal-footer
          button#addGroupButton.btn.btn-save(type="button", data-dismiss="modal") Add Class
      // /.modal-content
    // /.modal-dialog
  // /.modal




template(name="deleteClass")
  div.modal(id = "deleteClass#{_id}", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Delete Class
        .modal-body
          form(name="", role="form", action="facilityResult", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              currentCourseCode
                tbody  
                  tr
                    td Are you sure you want to delete
                  tr
                    td Course Code
                    td #{courseCode} 
                  tr
                    td Course Name
                    td #{courseName}
                  tr
                    td Class
                    td #{grpNum}
        .modal-footer
          button#deleteClassButton.btn.btn-save(type="button", data-dismiss="modal") Confirm

