template(name="course")
  script(type='text/javascript').
      $('#myModal').modal('hide');
      $('body').removeClass('modal-open');
      $('.modal-backdrop').remove();
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Course: #{courseCode}
      // /.col-lg-12
    // /.row
    .row
      .col-lg-12
        .panel.panel-default(data-dismiss="modal")
          .panel-body
            h4 Course Details
            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                tbody
                  tr
                    th Course Code
                    th #{courseCode}
                  tr
                    th Course Name
                    td #{courseName}
                  tr
                    th Course Type
                    td #{courseType}
                  tr
                    th Description
                    td #{courseDescription}
                  tr 
                    th No. of Session(s)
                    td #{courseNoOfSessions}
                  tr 
                    th Capacity
                    td #{courseMin} (min), #{courseMax} (max)
                  tr
                    th Fees
                    td #{courseFees}
                  tr
                    td
                    td 
                      button.btn.admin-btn.btn-sn(data-toggle="modal", data-target="#myModal")
                        | Edit Details
                      +editCourseForm
            p.breakH4
            h4 Class Management
            .table-responsive
              table#dataTables-example.table.table-bordered.table-hover
                tbody
                  tr
                    th Trainer
                    td 
                      each trainerList
                        #{trainerName}
                    td 
                      input(type="button", value="Add Trainer(s)", data-toggle="modal", data-target="#addTrainer", style="margin-top: -1%; right: 6%; background: #333; color:#fff")
                      +addTrainer
                    td 
                      input(type="button", value="Remove Trainer(s)", data-toggle="modal", data-target="#removeTrainer", style="margin-top: -1%; right: 6%; background: #333; color:#fff")
                      +removeTrainer
                  tr 
                    th Classes
                    td(style="word-break: break-word")
                      each groupsCourse
                        a(href="class/?cCode=#{courseCode}&cgrpNum=#{grpNum}") #{grpNum}
                        | ,
                    td(width="50px")
                      button.btn.btn-sn.pull-right(data-toggle="modal", data-target="#addClass", style="margin-top: -1%; right: 6%; background: #333; color:#fff")
                        i.fa.fa-plus
                        | Class 
                      +addClass
                    td(width="50px")
                      input(type="button", value="Remove Class(es)", data-toggle="modal", data-target="#removeClass", style="margin-top: -1%; right: 6%; background: #333; color:#fff")
                    +removeClass
                    
              //button.btn.btn-sn.pull-right(data-toggle="modal", data-target="#addClass", style="margin-top: -1%; right: 6%; background: #333; color:#fff")
                        //i.fa.fa-plus
                        //| Class 
              //+addClass
            // /.table-responsive
            p.breakH4
            h4 Course Materials
            .table-responsive
              table#dataTables-example.table.table-bordered.table-hover
                thead
                  tr
                    th Session
                    th Topic
                    th(colspan="2") Course Materials
                    th Download File
                tbody
                  each uploads                   
                    tr 
                      td 01
                      td #{name}
                      td Files here
                      td(width="50px") 
                        a(href="{{url download = true}}", class="button btn admin-btn") Download 
                tfoot        
                    tr
                      td(colspan="4")
                        button.btn.btn-warning.btn-block(data-toggle="modal", data-target="#myModal2")
                          | Upload Course Material(s)
            // /.table-responsive
            // Button trigger modal
            // Modal
            #myModal2.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
                    h4#myModalLabel.modal-title Upload Files
                  .modal-body
                    | Select Course Material For Session:
                    .form-group
                      input.form-control(type="text", id="cUploadSession")
                      input(type ="hidden", value = "#{courseCode}", id ="cUploadCourseCode")                
                    input#myFileInput(type="file", name="courseMaterials")
                  .modal-footer
                    button.myFileInputButton.btn.admin-btn(type="button") Upload


template(name="addClass")
  #addClass.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Add New Class
        .modal-body
          form(name="addClassForm", role="form", id="insert-addClassForm", action="facilityResult", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody
                tr
                  th Course Code
                  td(colspan="3") #{courseCode}
                    .form-group
                      input.form-control(type="hidden", id="gCourseCode", value="#{courseCode}")
                tr
                  th Session Timing  
                  td(colspan="3") 
                    input(type="time", id="gNewStartTime", style="width:40%; color:black") 
                    | TO 
                    input(type="time", id="gNewEndTime", style="width:40%; color:black")
                tr  
                  th Days
                  td 
                    .form-group
                      label.checkbox-inline
                        input(type="checkbox", value="Monday", name="day")
                        | Monday
                  td
                    .form-group
                      label.checkbox-inline
                        input(type="checkbox", value="Tuesday", name="day")
                        | Tuesday
                  td
                    .form-group
                      label.checkbox-inline
                        input(type="checkbox", value="Wednesday", name="day")
                        | Wednesday
                tr
                  th  
                  td
                    .form-group
                      label.checkbox-inline
                        input(type="checkbox", value="Thursday", name="day")
                        | Thursday
                  td
                    .form-group
                      label.checkbox-inline
                        input(type="checkbox", value="Friday", name="day")
                       | Friday
                  td
                    .form-group
                      label.checkbox-inline
                        input(type="checkbox", value="Saturday", name="day")
                        | Saturday
               
                tr
                  th Duration (Date)
                  td(colspan="3")
                    input(type="date", id="gNewStartDate", style="color:black; width: 40%")
                    | TO
                    input(type="date", id="gNewEndDate", style="color:black; width: 40%")
                tr 
                  th Payment Deadline
                  td(colspan="3")
                    .form-group
                      input.form-control(type="date", id="gNewDeadline")
                tr
                  th Venue
                  td 
                    .form-group
                      select(name="type", id="gVenue", style="color: black")
                        each facilitiesList
                          option(value="#{fac}") #{fac}
                tr  
                  th Trainers
                  td
                    .form-group.input-group
                      select(name="type", id="gTrainers", style="color: black")
                        each trainers
                          option(value="#{_id}") #{firstName} #{lastName}
                    
          // /.table-responsive
        .modal-footer
          button#addGroupButton.btn.btn-save(type="button", data-dismiss="modal") Add Class
      // /.modal-content
    // /.modal-dialog
  // /.modal


template(name="addTrainer")
  #addTrainer.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Add New Trainer
        .modal-body
          form(name="addTrainerForm", role="form", id="insert-addTrainerForm", method="post")
            tr
              td(colspan="2")
                .form-group()
                  select(name="newTrainersC", style="color: black; width: 100%")
                    option(value="Twinnings") Twinnings
                    option(value="Lipton") Lipton
                    option(value="TWG") TWG
                    option(value="Dilmah") Dilmah     
              td 
                button#addMoreTrainer.btn.btn-sn(style="margin-top: -1%; right: 6%; background-color: white; color:#333")
                    i.fa.fa-plus  

            each noOfTimes
              //+trainerAddDelete
              tr 
                td(colspan="2")
                  .form-group()
                    select(name="newTrainersC", style="color: black; width: 100%")
                      option(value="Twinnings") Twinnings
                      option(value="Lipton") Lipton
                      option(value="TWG") TWG
                      option(value="Dilmah") Dilmah  
                td  
                  button#addMoreTrainers.btn.btn-sn.pull-right(style="margin-top: -1%; right: 6%; background-color: white; color:#333")
                    i.fa.fa-plus 
                
                  button#removeThisTrainer.btn.btn-sn.pull-right( style="margin-top: -1%; right: 6%; background-color: white; color:#333")
                    i.fa.fa-minus    
              
          // /.table-responsive
        .modal-footer
          button#addTrainerButton.btn.btn-save(type="button", data-dismiss="modal") Add 
      // /.modal-content
    // /.modal-dialog
  // /.modal

template(name="trainerAddDelete")
  tr 
    td(colspan="2")
      .form-group()
        select(id="newTrainersC", style="color: black; width: 300px")
          option(value="Twinnings") Twinnings
          option(value="Lipton") Lipton
          option(value="TWG") TWG
          option(value="Dilmah") Dilmah  
    td  
      button#addMoreTrainers.btn.btn-sn.pull-right(style="margin-top: -1%; right: 6%; background-color: white; color:#333")
        i.fa.fa-plus 
                
      button#removeThisTrainer.btn.btn-sn.pull-right( style="margin-top: -1%; right: 6%; background-color: white; color:#333")
        i.fa.fa-minus    

template(name="removeClass")
  #removeClass.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Remove Class
        .modal-body
          form(name="removeClassForm", role="form", id="insert-removeClassForm", action="facilityResult", method="post")
          p Remove the following class(es)
            //.table-responsive
              //table#dataTables-example.table.table-bordered.table-hover
                //tbody
                  //tr 
                    //th Classes
                    //td
          .form-group
            label 
              each groupsCourse2
                .checkbox
                  label
                    input(type="checkbox", value="#{grpNum}", name="currentGroups")
                    | #{grpNum}    

                    
          // /.table-responsive
        .modal-footer
          button#removeGroupButton.btn.btn-save(type="button", data-dismiss="modal") Remove 
      // /.modal-content
    // /.modal-dialog
  // /.modal


template(name="removeTrainer")
  #removeTrainer.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Remove Trainers
        .modal-body
          form(name="removeClassForm", role="form", id="insert-removeClassForm", action="facilityResult", method="post")
          p Remove the following trainer(s)
            //.table-responsive
              //table#dataTables-example.table.table-bordered.table-hover
                //tbody
                  //tr 
                    //th Classes
                    //td
          .form-group
            label 
              each trainer2
               .checkbox
                 label
                   input(type="checkbox", name="currentTrainers", value="#{trainerName} ")
                   | #{trainerName}     

                    
          // /.table-responsive
        .modal-footer
          button#removeTrainerButton.btn.btn-save(type="button", data-dismiss="modal") Remove 
      // /.modal-content
    // /.modal-dialog
  // /.modal


template(name="editCourseForm")
  #myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Edit Course Detail
        .modal-body
          form(name="", role="form", action="facilityResult", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody
                tr
                  th Course Code
                  td 
                    .form-group
                      input.form-control(type="text", id="cCCode", value= "#{courseCode}")
                tr
                  th Course Name
                  td 
                    .form-group
                      input.form-control(type="text", id="cCName", value="#{courseName}")
                tr
                  th Description
                  td 
                    .form-group
                      textarea.form-control(id="cCDesc", value="#{courseDescription}")
                tr
                  th No. of Session(s)
                  td
                    .form-group
                      select.form-control(name="cSession", id="cCSession",)
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                        option 6
                        option 7
                tr
                  th Fees
                  td
                    .form-group.input-group
                      span.input-group-addon $
                      input.form-control(type="text", id="cCFees", value="#{courseFees}")
                tr
                  th Max
                  td
                    .form-group.input-group
                      input.form-control(type="text", id="cCMax", value="#{courseMax}")
                tr
                  th Type
                  td
                    .form-group.input-group
                      input.form-control(type="text", id="cCType", value="#{courseType}")
        .modal-footer
          button#editCourseButton.btn.btn-save(type="button", data-dismiss="modal") Save Changes