template(name="course")
  script(type='text/javascript').
      $('#myModal').modal('hide');
      $('body').removeClass('modal-open');
      $('.modal-backdrop').remove();
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Course: #{courseCode}
      // /.col-lg-12
    // /.row
    .row
      .col-lg-12
        .panel.panel-default(data-dismiss="modal")
          .panel-body
            h4 Course Details
            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                tbody
                  tr
                    th Course Code
                    th #{courseCode}
                  tr
                    th Course Name
                    td #{courseName}
                  tr
                    th Course Genre
                    td #{genre}
                  tr
                    th Course Type
                    td #{courseType}
                  tr
                    th Description
                    td #{courseDescription}
                  tr 
                    th No. of Hour(s)
                    td #{courseNoOfHours}
                  tr 
                    th Facilitator to Learner Ratio
                    td #{courseFLR} 
                  tr
                    th Fees
                    td #{courseFees}
                  tr
                    td
                    td 
                      button.btn.admin-btn.btn-sn(data-toggle="modal", data-target="#myModal")
                        | Edit Details
                      +editCourseForm
            p.breakH4
            h4 Class Management
                button.btn.btn-sn.pull-right(data-toggle="modal", data-target="#addTrainer", style="margin-top: -1%; margin-left: 5px; right: 6%; background: #333; color:#fff")
                    i.fa.fa-plus
                    | Trainer(s) 
                +addTrainer
                | 
                button.btn.btn-sn.pull-right(data-toggle="modal", data-target="#addClass", style="margin-top: -1%; right: 6%; background: #333; color:#fff")
                    i.fa.fa-plus
                    | Class 
                +addClass
            .table-responsive
              table#dataTables-example.table.table-bordered.table-hover
                thead
                  tr
                    th Trainer name
                    th Classes Taught
                    th Remarks
                tbody
                  each trainerListing
                    tr
                      td 
                        | #{trainerName}
                      td 
                        if gotNoClass
                          | There is no class allocated
                        else
                          each trainersOwnClass
                            a(href="class/?cCode=#{courseCode}&cgrpNum=#{classesTaught}") #{classesTaught} #{trainerName}
                            | ,
                      td 
                        if gotNoClass
                          input(type="button", value="Remove Trainer", data-toggle="modal", data-id='#{trainerID}',data-target="#removeTrainer#{trainerID}", style="margin-top: -1%; right: 6%; background: #333; color:#fff")
                        +removeTrainer
                    
            // /.table-responsive
            p.breakH4
            h4 Course Materials
            .table-responsive
              table#dataTables-example.table.table-bordered.table-hover
                thead
                  tr
                    th Course Materials
                    th Remarks
                    th Upload At
                    th Download File
                    th Delete
                tbody
                  each upload             
                    tr 
                      td #{name}
                      td #{userType}
                      td {{formatDate uploadAt}}
                      td
                        a(href="{{url download = true}}", class="button btn admin-btn") Download
                      td
                        button.myDeleteButton.btn.admin-btn(type="button") Delete
                tfoot        
                    tr
                      td(colspan="5")
                        button.btn.btn-warning.btn-block(data-toggle="modal", data-target="#myModal2")
                          | Upload Course Material
            // /.table-responsive
            // Button trigger modal
            // Modal
            #myModal2.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
                    h4#myModalLabel.modal-title Upload Files
                  .modal-body
                    input(type ="hidden", value = "#{courseCode}", id ="cUploadCourseCode")    
                    tr
                      td Remarks
                      td 
                        input.form-control(type ="text", id ="cUploadSession", style ="color: black;")   
                    tr
                      td File
                      td
                        input#myFileInput(type="file", name="courseMaterials")
                  .modal-footer
                    button.myFileInputButton.btn.admin-btn(type="button", data-dismiss="modal") Upload
            p.breakH4
            h4 Course Components
                button.btn.btn-sn.pull-right(data-toggle="modal", data-target="#addComponents", style="margin-top: -1%; right: 6%; background: #333; color:#fff")
                    i.fa.fa-plus
                    | Components 
                +addComponents
            .table-responsive
              table#dataTables-example.table.table-bordered.table-hover
                thead
                  tr
                    th(colspan="2") Components
                    th Weightage
                    th Remarks
                tbody
                  each courseComponents                   
                    tr 
                      td(colspan="2") #{componentName}
                      td #{weightage} 
                      td 
                        input(type="button", value="Remove Component", id="removeComponentButton")



template(name="addClass")
  #addClass.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Add New Class
        .modal-body
          form(name="addClassForm", role="form", id="insert-addClassForm", action="facilityResult", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody
                tr
                  th Course Code
                  td(colspan="3") #{courseCode}
                    .form-group
                      input.form-control(type="hidden", id="gCourseCode", value="#{courseCode}")
                tr
                  th Session Timing  
                  td(colspan="3") 
                    input(type="time", id="gNewStartTime", style="width:40%; color:black") 
                    | TO 
                    input(type="time", id="gNewEndTime", style="width:40%; color:black")
                tr  
                  th Days
                  td 
                    .form-group(style="font-size: 18px")
                      label.checkbox-inline 
                        input(type="checkbox", value="Monday", name="day")
                        | Mon
                  td
                    .form-group(style="font-size: 18px")
                      label.checkbox-inline
                        input(type="checkbox", value="Tuesday", name="day")
                        | Tues
                  td
                    .form-group(style="font-size: 18px")
                      label.checkbox-inline
                        input(type="checkbox", value="Wednesday", name="day")
                        | Wed
                tr
                  th  
                  td
                    .form-group(style="font-size: 18px")
                      label.checkbox-inline
                        input(type="checkbox", value="Thursday", name="day")
                        | Thurs
                  td
                    .form-group(style="font-size: 18px")
                      label.checkbox-inline
                        input(type="checkbox", value="Friday", name="day")
                       | Fri
                  td
                    .form-group(style="font-size: 18px")
                      label.checkbox-inline
                        input(type="checkbox", value="Saturday", name="day")
                        | Sat
               
                tr
                  th Duration (Date)
                  td(colspan="3")
                    input(type="date", id="gNewStartDate", style="color:black; width: 40%")
                    | TO
                    input(type="date", id="gNewEndDate", style="color:black; width: 40%")
                tr
                  th Venue
                  td(colspan="3") 
                    .form-group
                      select(name="type", id="gVenue", style="color: black")
                        each facilitiesList
                          option(value="#{fac}") #{fac}
                tr  
                  th Trainers
                  td
                    .form-group.input-group
                      select(name="newClassTrainers", style="color: black")
                        each courseTrainers2
                          option(value="#{_id}") #{fullName}
                  td  
                    button#addMoreTrainersToClass.btn.btn-sn.pull-right(style="margin-top: -1%; right: 6%; background-color: white; color:#333")
                      i.fa.fa-plus 
                each noOfTrainers
                  tr 
                    th 
                    td
                      .form-group()
                        select(name="newClassTrainers", style="color: black; width: 100%")
                          each courseTrainers3
                            option(value="#{_id}") #{fullName} 
                    td  
                      button#addMoreTrainersToClass.btn.btn-sn.pull-right(style="margin-top: -1%; right: 6%; background-color: white; color:#333")
                        i.fa.fa-plus 
                
                      button#removeTrainersFromClass.btn.btn-sn.pull-right( style="margin-top: -1%; right: 6%; background-color: white; color:#333")
                        i.fa.fa-minus
                             
                    
          // /.table-responsive
        .modal-footer
          button#addGroupButton.btn.btn-save(type="button", data-dismiss="modal") Add Class
      // /.modal-content
    // /.modal-dialog
  // /.modal


template(name="addTrainer")
  #addTrainer.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Add New Trainer
        .modal-body
          form(name="addTrainerForm", role="form", id="insert-addTrainerForm", method="post")
            tr
              td(colspan="2")
                .form-group()
                  select(name="newTrainersC", style="color: black; width: 100%")
                    each trainers
                      option(value="#{_id}") #{fullName}    
              td 
                button#addMoreTrainers.btn.btn-sn(style="margin-top: -1%; right: 6%; background-color: white; color:#333")
                    i.fa.fa-plus  

            each noOfTimes
              tr 
                td(colspan="2")
                  .form-group()
                    select(name="newTrainersC", style="color: black; width: 100%")
                      each trainers
                        option(value="#{_id}") #{fullName} 
                td  
                  button#addMoreTrainers.btn.btn-sn.pull-right(style="margin-top: -1%; right: 6%; background-color: white; color:#333")
                    i.fa.fa-plus 
                  button#removeThisTrainer.btn.btn-sn.pull-right(style="margin-top: -1%; right: 6%; background-color: white; color:#333")
                    i.fa.fa-minus 
              
          // /.table-responsive
        .modal-footer
          button#addTrainerButton.btn.btn-save(type="button", data-dismiss="modal") Add 
      // /.modal-content
    // /.modal-dialog
  // /.modal

template(name="addComponents")
  #addComponents.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Edit Components
        .modal-body
          form(name="addTrainerForm", role="form", id="insert-addTrainerForm", method="post")
            tr
              th(colspan="2") Component   
              th Weightage
            each componentCourse
              tr
                td(colspan="2")
                  .form-group
                    input.form-control(type="text", name="components", value="#{componentName}") 
                td
                  .form-group()
                    input.form-control(type="text", name="weightage", value="#{weightage}") 
                td 
                  button#removeComponents.btn.btn-sn(style="margin-top: -1%; right: 6%; background-color: white; color:#333")
                    i.fa.fa-minus  
                  button#addMoreComponents.btn.btn-sn.pull-right(style="margin-top: -1%; right: 6%; background-color: white; color:#333")
                    i.fa.fa-plus 

            each noOfTimesComponents
              tr 
                td(colspan="2")
                  .form-group
                    input.form-control(type="text", name="components", placeholder="eg. Assignment 1") 
                td
                  .form-group()
                    select(name="weightage", style="color: black; width: 100%")
                      option(value="5") 5   
                      option(value="10") 10   
                      option(value="15") 15   
                      option(value="20") 20   
                      option(value="25") 25   
                      option(value="30") 30   
                      option(value="35") 35   
                      option(value="40") 40   
                      option(value="45") 45   
                      option(value="50") 50   
                      option(value="55") 55   
                      option(value="55") 55   
                      option(value="65") 55   
                      option(value="70") 70   
                      option(value="75") 75   
                      option(value="80") 80   
                      option(value="85") 85   
                      option(value="90") 90   
                      option(value="95") 95   
                td  
                  button#removeComponents.btn.btn-sn(style="margin-top: -1%; right: 6%; background-color: white; color:#333")
                    i.fa.fa-minus 
                  button#addMoreComponents.btn.btn-sn.pull-right(style="margin-top: -1%; right: 6%; background-color: white; color:#333")
                    i.fa.fa-plus 
              
          // /.table-responsive
        .modal-footer
          button#editComponentsButton.btn.btn-save(type="button", data-dismiss="modal") Edit 
      // /.modal-content
    // /.modal-dialog
  // /.modal

template(name="removeClass")
  #removeClass.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Remove Class
        .modal-body
          form(name="removeClassForm", role="form", id="insert-removeClassForm", action="facilityResult", method="post")
          p Remove the following class(es)
            //.table-responsive
              //table#dataTables-example.table.table-bordered.table-hover
                //tbody
                  //tr 
                    //th Classes
                    //td
          .form-group
            label 
              each groupsCourse2
                .checkbox
                  label
                    input(type="checkbox", value="#{grpNum}", name="currentGroups")
                    | #{grpNum}    

                    
          // /.table-responsive
        .modal-footer
          button#removeGroupButton.btn.btn-save(type="button", data-dismiss="modal") Remove 
      // /.modal-content
    // /.modal-dialog
  // /.modal


template(name="removeTrainer")
  div.modal(id = "removeTrainer#{trainerID}",tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Remove Trainer
        .modal-body
          form(name="removeClassForm", role="form", id="insert-removeClassForm", action="facilityResult", method="post")
          Are you sure you want to remove the following trainer
            .table-responsive
              table#dataTables-example.table(style="background:#333")
                tbody
                  tr 
                    td Name
                    td #{trainerName}     
                    
          // /.table-responsive
        .modal-footer
          button#removeTrainerButton.btn.btn-save(type="button", data-dismiss="modal") Remove 
      // /.modal-content
    // /.modal-dialog
  // /.modal


template(name="editCourseForm")
  #myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Edit Course Detail
        .modal-body
          form(name="", role="form", action="facilityResult", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody
                tr
                  th Course Code
                  td 
                    .form-group
                      input.form-control(type="text", id="cCCode", value= "#{courseCode}")
                tr
                  th Course Name
                  td 
                    .form-group
                      input.form-control(type="text", id="cCName", value="#{courseName}")
                tr
                  th Description
                  td 
                    .form-group
                      textarea.form-control(id="cCDesc") #{courseDescription}
                tr
                  th No. of Hour(s)
                  td
                    .form-group
                      input.form-control(type="text", id="cCHour", value="#{courseNoOfHours}")
                tr
                  th Fees
                  td
                    .form-group.input-group
                      span.input-group-addon $
                      input.form-control(type="text", id="cCFees", value="#{courseFees}")
                tr
                  th Facilitator to Learner Ratio
                  td
                    .form-group.input-group
                      input.form-control(type="text", id="cCFLR", value="#{courseFLR}")
                tr
                  th Genre
                  td
                    .form-group.input-group
                      input.form-control(type="text", id="cCGenre", value="#{genre}")
                tr
                  th Type
                  td
                    .form-group.input-group
                      input.form-control(type="text", id="cCType", value="#{courseType}")
        .modal-footer
          button#editCourseButton.btn.btn-save(type="button", data-dismiss="modal") Save Changes