template(name="facility")
  style.
    .panel-body{
      padding: 3%;
    }
    .col-lg-12{
      padding-left: 2%;
      padding-right: 2%;
    }
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Facility List
      // /.col-lg-12
    // /.row
    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 Facility Details
              button.btn.btn.btn-sm(data-toggle="modal", data-target="#addFacility" style="position: absolute; margin-top: -1%; right: 6%; background: #333; color:#fff")
                        i.fa.fa-plus
                        | Facility
            +addFacilityForm

            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                thead
                  tr
                    th Facility Type
                    th Facility Name
                    th Capacity
                    th Description
                    th Details
                    th Remarks                    
                tbody
                  each facilities
                    tr
                      td #{facType}  
                      td #{fac}  
                      td #{capacity}  
                      td #{description}
                      td
                        button#viewFacilityDetailsButton.btn.admin-btn.btn-sn.viewFacility(data-toggle="modal", data-id='#{_id}', data-target="#viewFacility")
                          | More Details
                        +viewFacilityForm
                      td
                        a.btn.admin-btn(href="#goDeleteFacility", data-toggle="modal", data-facility-id="#{_id}") Delete
                      +deleteFacility

template(name="deleteFacility")
  script.
    $('#goDeleteFacility').on('show.bs.modal', function(e) {
      var facilityId = $(e.relatedTarget).data('facility-id');
      $(e.currentTarget).find('input[name="_id"]').val(_id);
    });
  #goDeleteFacility.modal.adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#deleteFacilityModal.modal-title Delete Facility
        .modal-body
          p Are you sure you want to delete
          input(type="text" name="_id" value="" style="color:red")
        .modal-footer
          a#deleteFacility.button.btn.admin-btn Confirm
      // /.modal-content
    // /.modal-dialog
  // /.modal

template(name="addFacilityForm")
  #addFacility.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Add New Facility
        .modal-body
          form(role="form", id="insert-addFacilityForm", action="#", method="post")
          .table-responsive
            table#dataTables-example.table
               tbody
                tr
                  th Facility
                  td
                    .form-group
                      select.form-control(id="cNewType")
                        option(value = "Class Room") Class Room
                        option(value = "Training Room") Training Room
                        option(value = "Meeting Room") Meeting Room
                tr
                  th Facility Name  
                  td 
                    .form-group
                      input.form-control(type="text", id="cNewName") 
                tr
                  th Facility Capacity
                  td 
                    .form-group
                      input.form-control(type="text", id="cNewCapacity") 
                tr
                  th Description
                  td 
                    .form-group
                      input.form-control(type="text", id="cNewDesc")
            // /.table-responsive
          .modal-footer
            button#addFacilityButton.btn.btn-save(type="button", data-dismiss="modal") Add Facility
      // /.modal-content
    // /.modal-dialog
  // /.modal


template(name="viewFacilityForm")
  #viewFacility.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Facility Detail
        .modal-body
          form(id="viewFacilityDetails", name="", role="form", action="#", method="post")
          .table-responsive
            table#dataTables-example.table(style="background-color:#333")
              tbody
                tr
                  th(colspan="2") #{facType} #{fac}   
                tr
                  td Capacity
                  td 
                    #{capacity} 
                tr
                  td Description
                  td 
                    #{description} 
          // /.table-responsive
        .modal-footer
          a.button.btn.admin-btn(href="facility/?id=#{_id}") Enter Facility Page
      // /.modal-content
    // /.modal-dialog
  // /.modal


