template(name="feedbackList")
  style.
    .panel-body{
      padding: 3%;
    }
    .col-lg-12{
      padding-left: 2%;
      padding-right: 2%;
    }
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Feedback list
      // /.col-lg-12
    // /.row

    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 Search Feedbacks
              
            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                tbody
                  tr
                    th Search  
                    td 
                      input.form-control(type="text", id="courseCode", placeholder="eg. IS101 or Workplace Safety and Health")
                      
                    th Group
                    td
                      input.form-control(type="text", id="grpNo", placeholder="eg. G1")
            
            button#filter.btn.btn-save( style="position: absolute; margin-top: -1%; right: 6%; background: #333; color:#fff") filter          

    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 Feedback Details
              button.btn.btn.btn-sm(data-toggle="modal", data-target="#addFeedbackForm" style="position: absolute; margin-top: -1%; right: 6%; background: #333; color:#fff")
                        i.fa.fa-plus
                        | Feedback
              +addFeedbackForm
          
            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                thead
                  tr
                    th Title
                    th Type
                    th Date Created
                    th Expiry Date
                    th Details
                    th Remarks
                tbody
                  each classes
                    tr
                      td #{courseCode}  
                      td #{grpNum}  
                      td #{startDate}  
                      td #{endDate}  
                      td
                        a(href="course?cCode=#{courseCode}&cgrpNum=#{grpNum}", class="button btn admin-btn") 
                            | Enter Class Page
                          //+viewClassForm
                      td
                        button.btn.admin-btn.btn-sn(data-toggle="modal", data-id='#{_id}',data-target="#deleteClass#{_id}")
                          | Delete
                        +deleteClass 
   

template(name="addFeedbackForm")
  #addFeedback.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Add New Feedback
        .modal-body
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody
                tr
                  th Title
                  td
                    .form-group
                      input.form-control(type="text", id="cNewCode", placeholder="eg. IS101")
                tr
                  th Type  
                  td 
                    .form-group
                      input.form-control(type="text", id="cNewName") 
                tr
                  th Feedback Type  
                  td 
                    .form-group
                      select(id="feedbackType")
                        option(value="course") Course
                        option(value="facility") Facility
                        option(value="trainer") Trainer
            // /.table-responsive
        .modal-footer
          button#addFeedbackButton.btn.btn-save(type="button", data-dismiss="modal") Add Feedback
      // /.modal-content
    // /.modal-dialog
  // /.modal




template(name="deleteFeedback")
  div.modal(id = "deleteFeedback#{_id}", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Delete Feedback
        .modal-body
          form(name="", role="form", action="facilityResult", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              currentCourseCode
                tbody  
                  tr
                    td Are you sure you want to delete
                  tr
                    td Title
                    td #{courseCode} 
                  tr
                    td Course Name
                    td #{courseName}
                  tr
                    td Class
                    td #{grpNum}
        .modal-footer
          button#deleteFeedbackButton.btn.btn-save(type="button", data-dismiss="modal") Confirm

