template(name="feedbackList")
  style.
    .panel-body{
      padding: 3%;
    }
    .col-lg-12{
      padding-left: 2%;
      padding-right: 2%;
    }
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Feedback list
      // /.col-lg-12
    // /.row        

    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 Feedback Details
              button.btn.btn.btn-sm(data-toggle="modal", data-target="#addFeedbackForm" style="position: absolute; margin-top: -1%; right: 6%; background: #333; color:#fff")
                        i.fa.fa-plus
                        | Feedback
              +addFeedbackForm
          
            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                thead
                  tr
                    th Title
                    th Type
                    th Details
                    th Remarks
                tbody
                  each survey
                    tr
                      td #{feedbackTitle}  
                      td #{feedbackType}   
                      td
                        a(href="feedbackQnMgmt?fbid=#{_id}", class="button btn admin-btn") 
                            | Edit Feedback
                      td 
                        button.btn.admin-btn.btn-sn(data-toggle="modal", data-id='#{_id}',data-target="#deleteFeedback#{_id}")
                          | Delete
                        +deleteFeedback 

    
          .panel-body
            h4 Launched Feedback Details
          
            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                thead
                  tr
                    th Title
                    th Type
                    th Details
                    th Remarks
                tbody
                  each launchedSurvey
                    tr
                      td #{feedbackTitle}  
                      td #{feedbackType}   
                      td
                        a(href="viewFeedbackSurvey?fbid=#{_id}", class="button btn admin-btn") 
                            | View Feedback
                      td 
                        button.btn.admin-btn.btn-sn(data-toggle="modal", data-id='#{_id}',data-target="#deleteFeedback#{_id}")
                          | Delete
                        +deleteFeedback 
   

template(name="addFeedbackForm")
  #addFeedbackForm.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Add New Feedback
        .modal-body
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody
                tr
                  th Title
                  td
                    .form-group
                      input.form-control(type="text", id="feedbackTitle")
                tr
                  th Feedback Type  
                  td 
                    .form-group
                      select(name="type", id="feedbackType", style="color: black")
                        option(value="Course") Course
                        option(value="Facility") Facility
                        option(value="Trainer") Trainer
            // /.table-responsive
        .modal-footer
          button#addFeedbackButton.btn.btn-save(type="button", data-dismiss="modal") Add Feedback
      // /.modal-content
    // /.modal-dialog
  // /.modal




template(name="deleteFeedback")
  div.modal(id = "deleteFeedback#{_id}", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Delete Feedback
        .modal-body
          form(name="", role="form", action="facilityResult", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              currentCourseCode
                tbody  
                  tr
                    td Are you sure you want to delete
                  tr
                    td Title
                    td #{feedbackTitle} 
                  tr
                    td Type
                    td #{feedbackType}
        .modal-footer
          button#deleteFeedbackButton.btn.btn-save(type="button", data-dismiss="modal") Confirm

