template(name="mainLayout")
  div.adminBody
    +topbar
    if userHasAccess admin
      #wrapper
        +container
    else
      .container.alignMiddle
        h1
          strong Sterling
          Training Hub
        h3 Administrator Portal
        .alert.alert-danger
          | You have no access to this page
        h3 Links to Sterling Portals
        button.btn.btn-save(onclick="window.location.href='/website'") Website
        button.btn.btn-save(onclick="window.location.href='/trainer'") Trainer
        button.btn.btn-save(onclick="window.location.href='/student'") Student

template(name="topbar")
  +checkUserLogin
  #wrapper
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top(role="navigation", style="margin-bottom: 0")
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/dashboard") <span class="light">STERLING </span>HUB
      // /.navbar-header
      ul.nav.navbar-top-links.navbar-right
        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown", href="#", style="color: #42dca3")
            | Welcome, {{displayUserName}}
            i.fa.fa-caret-down
          ul.dropdown-menu.dropdown-user
            li
              a(href="{{pathFor route='userProfile'}}")
                i.fa.fa-user.fa-fw
                | User Profile
            li.divider
            li
              a#sign-out(href="/")
                i.fa.fa-sign-in.fa-fw
                | Sign Out
          // /.dropdown-user
        // /.dropdown
      // /.navbar-top-links

template(name="emailDropdownElement")
  li
    a(href=href)
      div
        strong #{name}
        span.pull-right.text-muted
          em #{when}
      div
        | #{summary}
  li.divider

template(name="taskDropdownElement")
  li
    a(href=href)
      div
        p
          strong #{task}
          span.pull-right.text-muted #{percentComplete}% Complete
        .progress.progress-striped.active
          .progress-bar(class=progressBarType role="progressbar", aria-valuenow=percentComplete, aria-valuemin="0", aria-valuemax="100", style=style)
            span.sr-only #{percentComplete}% Complete (#{type})
  li.divider

template(name="notificationsElement")
  li
    a(href=href)
      div
        i.fa.fa-fw(class=icon)
        | #{text}
        span.pull-right.text-muted.small #{when}
  li.divider

template(name="container")
  +sidebar
  +page

template(name="sidebar")
  .navbar-default.sidebar(role="navigation")
    .sidebar-nav.navbar-collapse.collapse#nav-main
      ul#side-menu.nav(style="overflow-x: hidden; overflow-y: hidden;")
        each navElements
          +navElement
        a.btn.admin-btn.btn-sn(type="button", style="background-color:#424242; margin-top:5%; margin-left: 10px", href="{{pathFor route='Sterling Training Hub'}}") Website
        if checkIfIsTrainer
          a.btn.admin-btn.btn-sn(type="button", style="background-color:#424242; margin-top:5%; margin-left: 10px", href="{{pathFor route='Trainer Portal'}}") Trainer

template(name="navElement")
  li
    a(href=path class=isActive)
      if icon
        i.fa.fa-fw(class=icon)
      | #{label}
      if children
        span.fa.arrow
    if children
      ul.nav.nav-second-level
        each children
          +navElement

template(name="page")
  // Put page title and breadcrumbs here with `Router.routes[Session.get('active')]`
  +yield

