template(name="studentList")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Student List

    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 Search For Student
            h5 Total No. of Students: {{getStudentCount}}
            .table-responsive
              table#dataTables-example.table.table-bordered
                tbody
                  tr
                    td(style="width: 50%;") Search
                      input.form-control(type="text", id="usersSearchNameInput")
                    td(style="width: 50%;") Genre of Course
                      select(id="type")
                        option(value="WDA") WDA
                        option(value="LSP") LSP
            
            button#filter.btn.btn-save( style="position: static; margin-bottom:1%; margin-left:91%; background: #333; color:#fff") Search 
    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 
              Student List Management
              button.btn.btn.btn-sm(data-toggle="modal", data-target="#addstudAcct" style="background: #333; color:#fff; float:right; margin-bottom:1%;")
                i.fa.fa-plus
                  | Student
            +addStudentAcctForm

            .table-responsive(style="width:100%")
              table#dataTables-example.table.table-striped.table-bordered
                thead
                  tr
                    th Name
                    th Particulars
                    //th Enrollments
                    th Remarks
                    th Delete
                tbody
                  each students
                    tr
                      td #{fullName}
                      td 
                        a.btn.admin-btn.bt-sn(data-target="#viewParticulars#{_id}", data-toggle="modal", data-id="#{_id}") Particulars
                      +viewParticularsForm
                      //td 
                        //a.btn.admin-btn.bt-sn(data-target="#viewStudCourses#{_id}", data-toggle="modal", data-id="#{_id}") Courses
                      td #{remarks}
                      td
                        a.btn.admin-btn.bt-sn(data-target="#deleteStud#{_id}", data-toggle="modal", data-id="#{_id}") Delete
                      +deleteStudentForm

template(name="addStudentAcctForm")
  #addstudAcct.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog(style="width: 800px")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Add New Student
        .modal-body
          form(name="", role="form", action="#", method="post")
            .table-responsive
              table#dataTables-example.table(style="background:#333")
                tbody  
                  tr
                  td Full Name
                  td(colspan="3") 
                    .form-group
                      input.form-control(type="text", id="sName") 
                tr
                  td Gender
                  td 
                    input(type="radio",id="gender",name="gender",value="Male",checked="")
                    | Male
                    input(type="radio",id="gender",name="gender",value="Female")
                    | Female
                  td Date of Birth
                  td 
                    .form-group
                      input.form-control(type="date", id="dob")
                tr
                  td ID Type
                  td 
                    .form-group
                      select.(id="idType", style="color:black")
                        option(value="nric") NRIC
                        option(value="fin") FIN
                        option(value="passport") Passport
                  td ID Number
                  td 
                    .form-group
                      input.form-control(type="text", id="idNo")
                tr
                  td Email
                  td 
                    .form-group
                      input.form-control(type='text', placeholder="email", id='email')
                  td Mobile Number
                  td 
                    input.form-control(type='text', id='mobileNo')
                tr
                  td Nationality
                  td 
                    .form-group
                      input.form-control(type='text', placeholder="Citizenship", id='nationality')
                tr
                  td Highest Qualification
                  td 
                    .form-group
                      select.form-control(id='qualification', style="color:black")
                        option(value="workshop") WPA Certified
                        option(value="Primary") PSLE
                        option(value="Secondary") O/N'Level
                        option(value="JC") A'Level
                        option(value="Polytechnic") Diploma
                        option(value="University") Degree
                tr
                  td Emergency Contact Name
                  td 
                    .form-group
                      input.form-control(type='text',id='nokName')
                  td Relationship
                  td
                    .form-group
                      select.form-control(id='nokReln', style="color:black")
                        option(value="Employer") Employer
                        option(value="Spouse") Spouse
                        option(value="Family") Family
                        option(value="Others") Co-worker
                        option(value="Relative") Relative
                        option(value="Friend") Friend
                tr
                  td Emergency Contact No.
                  td
                    .form-group
                      input.form-control(type='text', id='nokTel')
                tr
                  td Remarks
                  td 
                    .form-group
                      textarea.form-control(type='text', id='remarks', placeholder='Financial Hold/ Term Payment/ etc.', style="max-width: 500px;")
            // /.table-responsive
        .modal-footer
          button#addStudentAcctButton.btn.btn-save(type="button", data-dismiss="modal") Add Student


template(name="viewParticularsForm")
  div.modal(id="viewParticulars#{_id}" tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title View/Update Student Details
        .modal-body
          form(name="", role="form", action="#", method="post" id="#{_id}")
            .table-responsive
              table#dataTables-example.table(style="background:#333")
                tbody  
                  tr
                    td Name
                    td #{fullName}
                  tr
                    td Email
                    td 
                      .form-group
                        input.form-control(type='text', value="#{email}", id='email')
                    td Mobile Number
                    td 
                      input#mobileNo.form-control(type='text', value="#{mobileNo}")
                  tr
                    td ID Type
                    td
                      .form-group
                        select.form-control(id="#{_id}_userIDType", name="userIDType", style="color:black")
                          option(value="#{userIDType}") #{userIDType}
                            option(disabled) ──────────
                            option(value="NRIC") NRIC
                            option(value="FIN") FIN
                            option(value="PASSPORT NO") Passport No
                    td ID Number
                    td
                      input.form-control(type='text', value="#{userID}", id='userID')
                  tr
                    td Nationality
                    td 
                      select.form-control(id="nationality", name="nationality", style="color:black")
                        option(value="#{nationality}") #{nationality}
                        option(disabled) ──────────
                        +nationalityList
                  tr
                    td Highest Qualification
                    td 
                      .form-group
                        select.form-control(id='qualification', style="color:black")
                          option(value="#{qualification}") #{qualification}
                          option(disabled) ──────────
                          option(value="WPA") WPA
                          option(value="PSLE") PSLE
                          option(value="Secondary") O/N'Level
                          option(value="A Level") A'Level
                          option(value="Diplmoa") Diploma
                          option(value="Degree") Degree
                  tr
                    td NOK Name
                    td 
                      .form-group
                        input.form-control(type='text', id='nokName', value="#{nokName}")
                    td Relationship
                    td
                      .form-group
                          select.form-group(id='nokReln', style="color:black")
                            option(value="#{nokReln}") #{nokReln}
                            option(disabled) ────────── 
                            option(value="Employer") Employer
                            option(value="Spouse") Spouse
                            option(value="Family") Family
                            option(value="Others") Co-worker
                            option(value="Relative") Relative
                            option(value="Friend") Friend
                  tr
                    td NOK Contact
                    td
                      .form-group
                        input.form-control(type='text', id='nokTel', value="#{nokTel}")
                  tr
                    td Remarks
                    td 
                      .form-group
                        textarea.form-control(type='text', id='remarks', style="max-width: 500px;")
                          | #{remarks}
        .modal-footer
          button#editStudAcct.btn.btn-save(type="button", data-dismiss="modal") Confirm

template(name="deleteStudentForm")
  div.modal(id="deleteStud#{_id}" tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Delete Course
        .modal-body
          form(name="", role="form", action="facilityResult", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody  
                tr
                  td Are you sure you want to delete
                tr
                  td Name
                  td #{fullName}
                tr
                  td Mobile No
                  td #{mobileNo}
          // /.table-responsive
        .modal-footer
          button#deleteStudentButton.btn.btn-save(type="button", data-dismiss="modal") Confirm
      // /.modal-content
    // /.modal-dialog
  // /.modal
