template(name="studentList")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Student List
      // /.col-lg-12
    // /.row
    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 Student List Management
              button.btn.btn.btn-sm(data-toggle="modal", data-target="#addstudAcct" style="position: absolute; margin-top: -1%; right: 6%; background: #333; color:#fff")
                        i.fa.fa-plus
                        | Student
            +addStudentAcctForm
            +usersSearchBox

            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                thead
                  tr
                    th Name
                    th Particulars
                    th Credentials
                    th Remarks
                tbody
                  each students
                    tr
                      td #{firstName}  #{lastName}  #{mobileNo}
                      td
                        a.btn.admin-btn.bt-sn(data-target="#viewParticulars#{_id}", data-toggle="modal", data-id="#{_id}")
                          | Particulars
                        +viewParticularsForm
                      td
                        form(role="form", id="viewCredForm", action="#", method="post")
                          button#viewStudCredentialsButton.btn.admin-btn.btn-sn(data-toggle="modal", data-id= '#{_id}', data-target="#viewCredentials#{_id}")
                            | Edit Credentials
                        +viewCredentialsForm
                      td
                        a.btn.admin-btn.bt-sn(data-target="#deleteStudent#{_id}", data-toggle="modal", data-id="#{_id}") 
                          | Delete
                        +deleteStudentForm


template(name="viewParticularsForm")
  div.modal(id="viewParticulars#{_id}" tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Student Detail - View/Update
        .modal-body
          form(role="form", id="viewDetails", action="", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody
                tr
                  th Email
                  td
                    .form-group
                      input.form-control(type="text", id="studEmail", value="#{email}")
                tr
                  th Mobile
                  td 
                    .form-group
                      input.form-control(type="text", id="studMobile", value="#{mobileNo}")
                tr
                  th Address
                  td 
                    .form-group
                      input.form-control(type="text", id="studAddr", value="#{address}")
                tr
                  td Remarks
                  td 
                    input.form-control(type='text', id='studRemarks')
        .modal-footer
          button#editStudAcct.btn.admin-btn.btn-sn(data-toggle="modal", data-id='#{mobileNo}',data-target="#updateStudent")
             | Save Changes
      // /.modal-content
    // /.modal-dialog
  // /.modal    

template(name="addStudentAcctForm")
  #addstudAcct.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Add Student - Enter Information
        .modal-body
          form(role="form", id="insert-addCourseForm", action="facilityResult", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody
                tr
                  th First Name
                  td
                    .form-group
                      input.form-control(type="text", id="studFirstName", placeholder="eg. First Name")
                  th Last Name
                  td 
                    .form-group
                      input.form-control(type="text", id="studLastName", placeholder="eg. Last Name") 
                tr
                  td Email
                  td(colspan="3")
                    input.form-control(type='text', placeholder="Email Here", id='studEmail')
                tr
                  td Set Default Password
                  td 
                    input.form-control(type='password', id='studPassword', placeholder="Default Password")
                tr
                  td Mobile Number
                  td 
                    input.form-control(type='text', id='mobileNo')
                tr
                  td Address
                  td(colspan="3")
                    textarea.form-control(type='text',value='',id='studAddr', placeholder='Singapore Address', style="max-width: 500px;")
                tr
                  td Remarks
                  td(colspan="3")
                    textarea.form-control(type='text',value='',id='studRemarks', placeholder='Financial Hold/ Term Payment/ etc.', style="max-width: 500px;")
            // /.table-responsive
        .modal-footer
          button#addStudentAcctButton.btn.btn-save(type="button", data-dismiss="modal") Add Student
      // /.modal-content
    // /.modal-dialog
  // /.modal




template(name="deleteStudentForm")
  div.modal(id="deleteStudent#{_id}" tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Delete Student - Check Student Details
        .modal-body
          form(name="", role="form", action="facilityResult", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody  
                tr
                  td Are you sure you want to delete
                tr
                  td First Name
                  td #{firstname}
                tr
                  td Last Name
                  td #{lastname}
                tr
                  td Mobile No
                  td #{mobileNo}
                tr
                  td Email
                  td #{email}
          // /.table-responsive
        .modal-footer
          button#deleteStudentButton.btn.btn-save(type="button", data-dismiss="modal") Confirm Delete
      // /.modal-content
    // /.modal-dialog
  // /.modal

template(name="viewCredentialsForm")
  div.modal(id="viewCredentials#{_id}" tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Update Student Detail
        .modal-body
          form(role="form", id="viewDetails", action="facilityResult", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody
                tr
                  th Email
                  td
                    .form-group
                      input.form-control(type="text", id="studAcctUserName", value="#{email}")
                tr
                  th Mobile
                  td 
                    .form-group
                      input.form-control(type="text", id="studAcctPwd", value="#{mobileNo}")
                tr
                  th Address
                  td 
                    .form-group
                      input.form-control(type="text", id="studAddr", value="#{address}")
                tr
                  td Remarks
                  td 
                    input.form-control(type='text', id='studRemarks')
        .modal-footer
          button#editStudAcct.btn.admin-btn.btn-sn(data-toggle="modal", data-id='#{mobileNo}',data-target="#deleteStudent")
             | Save Changes
      // /.modal-content
    // /.modal-dialog
  // /.modal    