template(name="trainerList")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Trainer List
      // /.col-lg-12
    // /.row
    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            h4 Trainer List Management
              button.btn.btn.btn-sm(data-toggle="modal", data-target="#addtrainerAcct" style="position: absolute; margin-top: -1%; right: 6%; background: #333; color:#fff")
                        i.fa.fa-plus
                        | Trainer
            +addTrainerAcctForm

            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                thead
                  tr
                    th Name
                    th Particulars
                    th Credentials
                    th Remarks
                tbody
                  each trainers
                    tr
                      td #{firstName}  #{lastName} 
                      td  
                        a.btn.admin-btn.bt-sn(data-target="#viewTrainerDetails#{_id}", data-toggle="modal", data-id="#{_id}") Particulars
                        +viewTrainerParticulars
                      td
                        a.btn.admin-btn.bt-sn(data-target="#viewTrainerCV#{_id}", data-toggle="modal", data-id="#{_id}") Edit Credentials
                        +viewTrainerCVForm
                      td
                        a.btn.admin-btn.bt-sn(data-target="#goDeleteTrainer#{_id}", data-toggle="modal", data-id="#{_id}") Delete
                        +deleteTrainerForm 


template(name="viewCVForm")
  #viewCV.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title CV Detail
        .modal-body
          form(role="form", id="viewDetails", action="facilityResult", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody
                tr
                  th Name
                  td
                    #{firstName} #{lastName}
                tr
                  td Remarks
                  td 
                    input.form-control(type='text', id='remarks')
                    | Remarks
        .modal-footer
          button#editTrainerAcct.btn.admin-btn.btn-sn(data-toggle="modal", data-id='#{_courseCode}',data-target="#deleteTrainer")
             | Save Changes
      // /.modal-content
    // /.modal-dialog
  // /.modal    

template(name="addTrainerAcctForm")
  #addtrainerAcct.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Add New Trainer
        .modal-body
          form(role="form", id="insert-addTrainerForm", action="#", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody
                tr
                  th First Name
                  td
                    .form-group
                      input.form-control(type="text", id="firstName")
                  th Last Name  
                  td 
                    .form-group
                      input.form-control(type="text", id="lastName")
                tr
                  td Nationality
                  td
                    .form-group
                      input.form-control(type="text", id="nationality")
                tr
                  td ID Type
                  td
                    select(id="idType", style="color:black")
                      option(value="0") NRIC
                      option(value="1") FIN
                  td ID No.
                  td  
                    .form-group
                      input.form-control(type="text", id="idNo")
                tr
                  td Email
                  td 
                    input.form-control(type='text', id='email')
                  td Mobile
                  td 
                    input.form-control(type='text', id='mobileNo')
                tr
                  td Speciality
                  td(colspan="3")
                    label.checkbox-inline
                      input(type="checkbox", value="1", name="specialty")
                      | Engineering
                    label.checkbox-inline
                      input(type="checkbox", value="2", name="specialty")
                      | Leadership
                    label.checkbox-inline
                      input(type="checkbox", value="3", name="specialty")
                      | Construction
                    br
                    label.checkbox-inline
                      input(type="checkbox", value="4", name="specialty")
                      | Plumming
            // /.table-responsive
        .modal-footer
          button#addTrainerAcctButton.btn.btn-save(type="button", data-dismiss="modal") Add Trainer
      // /.modal-content
    // /.modal-dialog
  // /.modal




template(name="deleteTrainerForm")
  div.modal(id="goDeleteTrainer#{_id}" tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Delete Trainer
        .modal-body
          form(name="", role="form", action="deleteTrainer", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody  
                tr
                  td Are you sure you want to delete
                tr
                  td Name
                  td #{firstName} #{lastName}
                tr
                  td Mobile No.
                  td #{mobileNo}
          // /.table-responsive
        .modal-footer
          button#deleteTrainerButton.btn.btn-save(type="button", data-dismiss="modal") Confirm
      // /.modal-content
    // /.modal-dialog
  // /.modal
