template(name="trainerList")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Trainer List
      // /.col-lg-12
    // /.row
    .row
      .col-lg-12
        .panel.panel-default
          .panel-body
            if errorTrainerParticularsMessage
              .alert.alert-danger
                | #{errorTrainerParticularsMessage}
            if updateTrainerParticularsSuccessMessage
              .alert.alert-success
                | #{updateTrainerParticularsSuccessMessage}
            if errorTrainerDeleteMessage
              .alert.alert-danger
                | #{errorTrainerDeleteMessage}
            if updateTrainerDeleteSuccessMessage
              .alert.alert-success
                | #{updateTrainerDeleteSuccessMessage}
            if errorTrainerAddMessage
              .alert.alert-danger
                | #{errorTrainerAddMessage}
            if updateTrainerAddSuccessMessage
              .alert.alert-success
                | #{updateTrainerAddSuccessMessage}

            h4 Trainer List Management
              button.btn.btn.btn-sm(data-toggle="modal", data-target="#addtrainerAcct" style="position: absolute; margin-top: -1%; right: 6%; background: #333; color:#fff")
                        i.fa.fa-plus
                        | Trainer
            +addTrainerAcctForm

            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered
                thead
                  tr
                    th Name
                    th Particulars
                    th Remarks
                tbody
                  each trainers
                    tr
                      td #{fullName} 
                      td  
                        a.btn.admin-btn.bt-sn(data-target="#viewTrainerDetails#{_id}", data-toggle="modal", data-id="#{_id}") Particulars
                        +viewTrainerParticulars
                      if isAlsoAdmin
                        td Administrator
                      else
                        td
                          a.btn.admin-btn.bt-sn(data-target="#goDeleteTrainer#{_id}", data-toggle="modal", data-id="#{_id}") Delete
                          +deleteTrainerForm 


template(name="viewTrainerParticulars")
  div.modal(id="viewTrainerDetails#{_id}" tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
          h4#myModalLabel.modal-title View/Update Trainer Details
        .modal-body
          form(role="form", id="insert-addTrainerForm", action="#", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody(id="#{_id}")
                tr
                  th Name
                  td
                    | #{fullName}, #{email}
                tr
                  td Nationality
                  td
                    select.form-control(id="#{_id}nationality", name="#{_id}nationality", style="color:black")
                      option(value="#{nationality}") 
                        | #{nationality}
                      option(disabled) ──────────
                      +nationalityList
                tr
                  td Mobile
                  td 
                    input.form-control(type='text', id='#{_id}mobileNo', value="#{mobileNo}")
                tr
                  td Speciality
                  td(colspan="3")
                    label.checkbox-inline
                      if isChecked "Engineering"
                        input(type="checkbox", value="Engineering", name="#{_id}speciality", checked="")
                        | Engineering
                      else
                        input(type="checkbox", value="Engineering", name="#{_id}speciality")
                        | Engineering
                    label.checkbox-inline
                      if isChecked "Leadership"
                        input(type="checkbox", value="Leadership", name="#{_id}speciality", Leadership)
                        | Leadership
                      else
                        input(type="checkbox", value="Leadership", name="#{_id}speciality")
                        | Leadership
                    label.checkbox-inline
                      if isChecked "Construction"
                        input(type="checkbox", value="Construction", name="#{_id}speciality", checked="")
                        | Construction
                      else
                        input(type="checkbox", value="Construction", name="#{_id}speciality")
                        | Construction
                    label.checkbox-inline
                      if isChecked "Plumming"
                        input(type="checkbox", value="Plumming", name="#{_id}speciality", checked="")
                        | Plumming
                      else
                        input(type="checkbox", value="Plumming", name="#{_id}speciality")
                        | Plumming
                tr
                  td Proficiency
                  td
                    label.checkbox-inline
                      if isChecked2 "English"
                        input(type="checkbox", value="English", name="#{_id}proficiency", checked="")
                        | English
                      else
                        input(type="checkbox", value="English", name="#{_id}proficiency")
                        | English
                    label.checkbox-inline
                      if isChecked2 "Mandarin"
                        input(type="checkbox", value="Mandarin", name="#{_id}proficiency", checked="")
                        | Mandarin
                      else
                        input(type="checkbox", value="Mandarin", name="#{_id}proficiency")
                        | Mandarin
                    label.checkbox-inline
                      if isChecked2 "Malayu"
                        input(type="checkbox", value="Malayu", name="#{_id}proficiency", checked="")
                        | Malayu
                      else
                        input(type="checkbox", value="Malayu", name="#{_id}proficiency")
                        | Malayu
                    label.checkbox-inline
                      if isChecked2 "Tamil"
                        input(type="checkbox", value="Malayu", name="#{_id}proficiency", checked="")
                        | Tamil
                      else
                        input(type="checkbox", value="Malayu", name="#{_id}proficiency")
                        | Tamil
                
            // /.table-responsive
        .modal-footer
          button#editTrainerAcctButton.btn.btn-save(type="button", data-dismiss="modal") Update Detail
      // /.modal-content
    // /.modal-dialog
  // /.modal

template(name="addTrainerAcctForm")
  #addtrainerAcct.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
          h4#myModalLabel.modal-title Add New Trainer
        .modal-body
          form(role="form", id="insert-addTrainerForm", action="#", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody
                tr
                  th Full Name
                  td(colspan="3")
                    .form-group
                      input.form-control(type="text", id="sName")
                tr
                  td Nationality
                  td
                    select.form-control(id="addNationality", name="nationality", style="color:black")
                      +nationalityList
                tr
                  td ID Type
                  td
                    select.form-control(id="trainerType", style="color:black")
                      option(value="NROC") NRIC
                      option(value="FIN") FIN
                      option(value="others") Others
                  td ID No.
                  td  
                    .form-group
                      input.form-control(type="text", id="idNo")
                tr
                  td Email
                  td 
                    input.form-control(type='text', id='email')
                  td Mobile
                  td 
                    input.form-control(type='text', id='mobileNo')
                tr
                  td Speciality
                  td(colspan="3")
                    label.checkbox-inline
                      input(type="checkbox", value="Engineering", name="speciality")
                      | Engineering
                    label.checkbox-inline
                      input(type="checkbox", value="Leadership", name="speciality")
                      | Leadership
                    label.checkbox-inline
                      input(type="checkbox", value="Construction", name="speciality")
                      | Construction
                    br
                    label.checkbox-inline
                      input(type="checkbox", value="Plumming", name="speciality")
                      | Plumming
                tr
                  td Proficiency
                  td(colspan="3")
                    label.checkbox-inline
                      input(type="checkbox", value="English", name="proficiency")
                      | English
                    label.checkbox-inline
                      input(type="checkbox", value="Mandarin", name="proficiency")
                      | Mandarin
                    label.checkbox-inline
                      input(type="checkbox", value="Malayu", name="proficiency")
                      | Malayu
                    label.checkbox-inline
                      input(type="checkbox", value="Tamil", name="proficiency")
                      | Tamil
                
            // /.table-responsive
        .modal-footer
          button#addTrainerAcctButton.btn.btn-save(type="button", data-dismiss="modal") Add Trainer
      // /.modal-content
    // /.modal-dialog
  // /.modal

template(name="deleteTrainerForm")
  div.modal(id="goDeleteTrainer#{_id}" tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").adminFormDark
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
          h4#myModalLabel.modal-title Delete Trainer
        .modal-body
          form(name="", role="form", action="deleteTrainer", method="post")
          .table-responsive
            table#dataTables-example.table(style="background:#333")
              tbody  
                tr
                  td Are you sure you want to delete
                tr
                  td Name
                  td #{fullName}
                tr
                  td Mobile No.
                  td #{mobileNo}
          // /.table-responsive
        .modal-footer
          button#deleteTrainerButton.btn.btn-save(type="button", data-dismiss="modal") Confirm
      // /.modal-content
    // /.modal-dialog
  // /.modal